.container{
    display:grid;
    /* border:1px solid black; */
    width:1200px;
    height:800px;
    margin:auto;
    grid-gap:1rem;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(4,1fr);
     }

.container div{
    padding:16px;
    border:1px solid black;
    border-radius: 8px;
}

.purple{
    background-color:indigo;
    color: white;
    grid-column-start: 1;
    grid-column-end:3 ;
    grid-row-start: 1;
    grid-row-end:2 ;

    
}

.grey{
    background-color: rgb(56, 58, 59);
    color: white;
    grid-column-start:3 ;
    grid-column-end:4 ;
    grid-row-start: 1;
    grid-row-end:2 ;
  
}

.whiteone{
    grid-column-start:4 ;
    grid-column-end:5 ;
    grid-row-start:1 ;
    grid-row-end: 3;
 
}

.whitetwo{
    grid-column-start:1 ;
    grid-column-end:2 ;
    grid-row-start:2 ;
    grid-row-end: 3;
   
}

.black{
    background-color: black;
    color: white;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end:3;
    
}
